#title {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c4d0ff;
  font-family: Georgia, serif;
  border: 2px solid #adb6ff;
  border-radius: 5px;
}

body {
  padding-top: 3rem;
}

body {
  background-color: #ede0ff;
}

.section_head {
  left: 0;
  font-family: Georgia, serif;
  font-size: 1em;
}

.section_container {
  left: 25%; 
  border: 1px solid black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
