#title {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c4d0ff;
  font-family: Georgia, serif;
  border: 2px solid #adb6ff;
  border-radius: 5px;
}

body {
  padding-top: 3rem;
}

body {
  background-color: #ede0ff;
}

.experience {
  width: 50%;
  border: 1px solid;
}

.section-head {
  left: 0;
  font-family: Georgia, serif;
  font-size: 1em;
}
